body {
	font-family: Helvetica;
	-webkit-font-smoothing: antialiased;
}

.timer {
	position: fixed;
	top: 0;
	left: 0;
	z-index: 10;
	font-size: 30px;
	color: white;
	padding: 10px;
	background-color: black;
}

.page {
	position: absolute;
	left: 0;
	right: 0;
	height: 100%;
}

.one {
	background-color: #45d295;
	top: 0;
}

.two {
	background-color: #55e5c4;
	top: 100%;
}

.three {
	background-color: #72fbff;
	top: 200%;
}

.four {
	background-color: #abf9ff;
	top: 300%;
}

.five {
	background-color: #83d0ff;
	top: 400%;
}

.six {
	background-color: #55e5c4;
	top: 500%;
}

.seven {
	background-color: #72fbff;
	top: 600%;
}

.eight {
	background-color: #abf9ff;
	top: 700%;
}

.text {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	color: blue;
	opacity: 0.3;
	-webkit-transition: all 2s;
	-moz-transition: all 2s;
	-o-transition: all 2s;
	-ms-transition: all 2s;
	transition: all 2s;
}

.hidden {
	opacity: 0;
}